body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  flex: 1;
  height: 100%;
  grid-template-columns: 15rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.header {
  border: black solid 1px;
  grid-area: header;
}

.sidebar {
  padding: 1rem;
  border: black solid 1px;
  grid-area: sidebar;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: center;
  border: red solid 1px;
  padding: 1rem;
  overflow: auto;
}

#page {
  width: 400px;
  height: 400px;
  border: black solid 1px;
  resize: both;
  display: grid;
  column-gap: var(--spacing);
  row-gap: var(--spacing);
}

.grid-item {
  background-color: lightgray;
}