body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  /* padding-top: 0.5rem; */
  display: grid;
  font-family: Helvetica, sans-serif;
  padding-right: 10px;
  padding-bottom: 10px;
  display: grid;
  flex: 1;
  height: 100vh;
  grid-template-columns: 15rem auto;
  grid-template-rows: 2.5rem auto;
  grid-template-areas: 
    "header header"
    "sidebar main";
  /* justify-content: center;
  align-items: center; */
}

/* .grid-container {
  display: grid;
  flex: 1;
  height: 100%;
  grid-template-columns: 15rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
} */

.header {
  -webkit-app-region: drag;
  grid-area: header;
}

.sidebar {
  -webkit-app-region: drag;
  padding: 1rem;
  grid-area: sidebar;
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
}

/* interactables */
input, select, #font-picker, button {
  -webkit-app-region: no-drag;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  border: gray solid 1px;
  border-radius: 8px;
  padding: 1rem;
  overflow: auto;
}

#page {
  width: 400px;
  height: 400px;
  border: black solid 1px;
  resize: both;
  display: grid;
  column-gap: var(--spacing);
  row-gap: var(--spacing);
}

.grid-item {
  background-color: lightgray;
}